@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: linear-gradient(to right, #4a088c, #61358d, #9a239a);
}

img {
}

a {
  text-decoration: none;
  color: #8d249e;
}
a:hover,
a:focus {
  color: #490654;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.main > h1 {
  font-size: 3rem;
}
.main > p {
  font-size: 2rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 1.2em 2em;
  gap: 1em;
  color: #8d249e;
}

nav > h1 {
  font-size: 2rem;
}

nav > div {
  display: flex;
  gap: 2em;
  font-size: 1.2rem;
  font-weight: 600;
}

#modal {
  width: 30%;
  background: #d3b17b;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-top 0.3s ease-in-out;
}

#modal::backdrop {
  background: rgba(0, 0, 0, 1);
}

#modal h2 {
  font-size: 1.5rem;
  color: #8d249e;
  text-transform: uppercase;
  margin: 0;
}

#modal form {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

#modal form button {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: #8d249e;
  cursor: pointer;
  font-size: 1.1rem;
}

#modal form button:hover {
  color: #490654;
}

#modal form button:last-of-type {
  background: #8d249e;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.6rem;
  color: #f9efda;
  font-size: 1rem;
  cursor: pointer;
}

#modal form button:last-of-type:hover {
  background: #490654;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 0.8em 1.6em;
  font-weight: 600;
  background-color: #8d249e;
  color: #edeae5;
  cursor: pointer;
}

.btn:focus,
.btn:hover {
  background-color: #490654;
}

.products_list {
  margin: 0.25em 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.products_display {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1.2em 0.65em;
  margin: 0 1rem;
}

.products_display > p {
  font-size: 1.3rem;
  font-weight: 600;
  color: #560563;
}

.products_display_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #560563;
}
.products_display_title {
  font-size: 1.2rem;
  text-align: center;
}
.products_display_img {
  align-self: center;
  width: 120px;
  height: 150px;
}

.products_btn {
  display: flex;
}

.btnCart_nav {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  color: #8d249e;
}
.btnCart_nav:hover,
.btnCart_nav:focus {
  background-color: rgba(0, 0, 0, 0);
}

.fav_icon {
  color: #8d249e;
}
